
.ingredient-table {
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  border-collapse: collapse;
  
}

.ingredient-table th,
.ingredient-table td {
  padding: 12px 15px;
  border: 1px solid #372e2e;
  
  text-align: left;
}

.ingredient-table th {
  background-color: #75c7ea;
  
}

.ingredient-table tr {
  border-bottom: 2px solid #01223b;
}

.ingredient-table tr:nth-child(even) {
  background-color: #baccd0;
}


