@use "./variables" as *;

.card {
  backdrop-filter: blur(3px);
  margin-left: 6rem;
  width: 720px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.1);
  max-height: 80vh; /* Adjust the value as needed */
  overflow-y: auto;
  justify-content: center;
  padding: 1rem;
  justify-self: center;

  fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #cccccc00;
    border-radius: 15px;
    margin-top: 10px;
    align-content: flex-start;
  }

  legend strong {
    font: 1em sans-serif;
    font-weight: bold;
  }
}

.card_content {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 25px;
  margin-top: 0px;
  margin-bottom: 5px;
  justify-self: center;
  gap: 5px;
  select {
    width: 75%;
    height: 35px;
    margin: 0 5px;
    padding: 0 8px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: white;
    color: #000;
  }

  input[type="text"],
  input[type="date"] {
    width: 83%;
    padding: 0.5rem;
    margin: 0 5px;
    background-color: rgb(255, 255, 255);
    color: #000;
    border: 1px solid #cccccc;
    border-radius: 0.5rem;
  }

  [type="date"]::-webkit-calendar-picker-indicator {
    background-color: #acacac;
  }

  .button {
    background-color: darken($color: $accentColor, $amount: 2);
    margin-top: 15px;
    width: 26%;
    border: 1px solid darken($color: $accentColor, $amount: 2);;
    border-radius: 1rem;
    cursor: pointer;
  }
}

.legend {
  border-radius: 28px;
}

.select {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  font: 0.9em sans-serif;
}

.close_button {
    color: darken($color: $accentColor, $amount: 2);
    background-color: rgb(216, 162, 81);
    cursor: pointer;
    border: none;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 50%;
    justify-self: left;
    justify-content: center;
    align-content: center;
    height: 50px;
    margin-left: 19rem;
    margin-top: -0.5em;
    position: absolute;
  }

