:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #faf8f3;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.auth-form-cantainer {
  align-items: center;
  justify-content: center;
  z-index: 3;
  text-align: center;

  background-image: url(/public/assets/4357397.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: invert(100%);
}

.auth-form-cantainer,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif,
    Euclid Circular A;
  color-scheme: light dark;
}

.auth-form-cantainer {
  padding: 4.5rem;
  border: 1px solid white;
  border-radius: 15px;
  margin: 0.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1500ms ease-in;
}

@media (width >= 500px) {
  .login-form {
    margin: 0;
    width: 350px;
  }

  .register-form {
    width: 421.68px;
  }
}

.auth-form-cantainer > h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 12px;
  color: #ffffff;
}

.auth-form-cantainer > h3 {
  color: rgba(255, 255, 255, 0.733);
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 1rem;
}

.login-form {
  width: 100%;
  margin: 0;
  display: grid;
  gap: 16px;
  justify-items: center;
}

.login-form > input,
.login-form > button {
  width: 100%;
  height: 45px;
}

.login-form > input {
  border: 2px solid #ebebeb;
  font-family: inherit;
  font-size: 16px;
  padding: 0 16px;
  border-radius: 10px;
  height: 45px;
  width: 100%;
}

.Fname > input {
  border: 2px solid #ebebeb;
  font-family: inherit;
  font-size: 16px;
  border-radius: 10px;
  height: 45px;
  padding: 0 16px;
  max-width: 200px;
}

#firstname {
  margin-right: 15px;
}

@media (width <= 620px) {
  .Fname > input {
    max-width: none;
    align-items: center;
    gap: 16px;
  }

  #firstname {
    margin-bottom: 16px;
    margin-right: 0px;
  }
}

.login-form > button {
  cursor: pointer;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  border-radius: 0.5rem;
  background: #2d3e84;
  color: #f9f9f9;
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight:bolder;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.375s;
  transition: color 0.3s;
  
}

.login-form > button:hover {
  background: #c7beb1;
  color: #000;
  scale: 1.03;
}


.login-page{
  background-image:linear-gradient(
    to bottom,
    rgba(250, 247, 239, 0.562),
    rgba(0, 0, 0, 0.103)
  ),url("/assets/4357397.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin-left: -65px;
}

.logo {
  position: absolute;
  width: 20%;
  margin: 0 auto 100px;
  cursor: pointer;
  animation: fadeIn 1200ms ease-in;
  animation-name: slideFromTop;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  z-index: 999;
}

@keyframes slideFromTop {
  0% {
    top: -40vh;
    left: 10%;
    opacity: 0;
  }
  100% {
    top: 8%; /* Adjust the desired position */
    left: 27%;
    opacity: 1;
  }
}