h2 {
  font-size: 1.2em;
  font-weight: 600;
  color: hsl(0, 0%, 20%);
  animation: fadeIn 300ms ease-in;
}

.pastReservations {
  margin-top: 2em;
  font: 1em sans-serif;
  font-weight: 600;
  text-align: left;
  margin-left: 1em;

  &:hover{
    scale:1.01;
    margin-left: 1.5em;
    cursor: pointer;
  }
}

.NoReservations {
  margin-left: calc(6 * 1.2em);
  margin-top: 0.6em;
  color: hsl(0, 0, 50%);
  animation: fadeIn 300ms ease-in;
  visibility: hidden;
  opacity: 0;
  font: 1em sans-serif;
  transition: opacity 500ms ease-in;
  animation: fadeIn 500ms ease-in;
  height: 0;
  &.show {
    opacity: 1;
    visibility: visible;
    height: auto;
  }
}
