@use "../variables" as *;

.container {
  display: flex;
  flex-direction: column;
  width: 87%;
  animation: fadeIn 1000ms ease-in;
}

.cardContainer{
  position: fixed;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(3px);
  background-color: #00000050;
  z-index: 999;
}
.Hero {
  height: auto;
  width: 100%;
  font: 1em sans-serif;
  background-color: $bgcolor;
  text-align: center;
  padding: 10em 2em 5em 2em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1000ms ease-in;
  // background-image: linear-gradient(180deg, #fdfbfb 0%, $bgcolor 100%);

  h1 {
    font-size: 2.4em;
    margin-bottom: 0.2em;
    color: rgb(39, 39, 39);
  }

  h2 {
    font-size: 1.6em;
    margin-bottom: 0.2em;
    color: rgb(39, 39, 39);
  }

  p {
    font-size: 1.1em;
    color: hsl(0, 0%, 0%, 0.7);
  }
  span {
    color: $accentColor;
  }
}

.toggleSwitch {
  background-color: white;
  width: fit-content;
  padding: 0.8em 1.4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 5em;
  border-color: rgba(255, 255, 255, 0);
  gap: 2em;
  margin-top: 1em;
  cursor: pointer;
  user-select: none;
  position: relative;

  .toggleItem {
    display: inline-block;
    font-size: 1.1em;
    z-index: 10;
    color: white;
    font-weight: 600;
  }

  .toggleItem:last-child {
    color: $disabledTextColor;
    font-weight: 400;
    &:hover{
      scale:1.03;
    }
  }

  &.waiting {
    .toggleItem:first-child {
      color: $disabledTextColor;
      font-weight: 400;
      &:hover{
        scale:1.03;
      }
    }

    .toggleItem:last-child {
      color: white;
      font-weight: 600;
    }

    &::before {

      width: 54%;
      transform: translateY(-50%) translateX(41%);

      background-color: $waitingColor;
    }
  }

  &::before {
    content: " ";
    position: absolute;

    width: 49%;
    height: 92%;
    border-radius: 5em;
    top: 50%;
    transform: translateY(-50%) translateX(-50.5%);

    background-color: $waitingColor;
    transition: transform 300ms cubic-bezier(0.18, 0.89, 0.35, 1.15),
      width 50ms ease-in-out, background-color 250ms ease-in-out;
  }
}

.tableContainer {
  padding: 0em 6dvw;
  padding-bottom: 2em;
  background-color: $bgcolor;
  width: 100%;
}

.button {
  background-color: darken($color: $accentColor, $amount: 2);
  border: 1px solid darken($color: $accentColor, $amount: 2);
  border-radius: 1.15rem;
  width: 11rem;
  cursor: pointer;

  &:hover{
    background-color: darken($color: $accentColor, $amount: 12);
  border: 1px solid darken($color: $accentColor, $amount: 12);
  scale: 1.03;
  }
}
