@use "../variables" as *;

.card {
  margin-left: 6rem;
  width: 720px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 6px 23px -6px rgba(0, 0, 0, 0.1);
  max-height: 80vh; /* Adjust the value as needed */
  overflow-y: auto;
  justify-content: center;
  padding: 1rem;
  justify-self: center;
  animation: fadeIn 500ms ease-in;

  fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #cccccc00;
    border-radius: 15px;
    margin-top: 10px;
    align-content: flex-start;
  }

  legend strong {
    font: 1em sans-serif;
    font-weight: bold;
  }
}

.card_content {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 25px;
  margin-top: 0px;
  margin-bottom: 5px;
  justify-self: center;
  gap: 5px;
  select {
    width: 82%;
    height: 35px;
    margin: 0 5px;
    padding: 0 8px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: white;
    color: #000;
  }

  input[type="text"],
  input[type="time"],
  input[type="number"],
  input[type="date"] {
    width: 83%;
    padding: 0.5rem;
    margin: 0 5px;
    background-color: rgb(255, 255, 255);
    color: #000;
    border: 1px solid #cccccc;
    border-radius: 0.5rem;
  }

  [type="date"]::-webkit-calendar-picker-indicator {
    background-color: #acacac;
    color: #000;
  }

  [type="time"]::-webkit-calendar-picker-indicator {
    background-color: #acacac;
    color: #000;
  }

  textarea{
    width: 82%;
    padding: 0.5rem;
    margin: 0 5px;
    background-color: rgb(255, 255, 255);
    color: #000;
    border: 1px solid #cccccc;
    border-radius: 0.5rem;
  }

  .button {
    color:azure;
    background-color: darken($color: $accentColor, $amount: 2);
    margin-top: 15px;
    width: 26%;
    border: 1px solid darken($color: $accentColor, $amount: 2);
    border-radius: 1rem;
    cursor: pointer;
    animation: fadeIn 1000ms ease-in;
  }
}

.legend {
  border-radius: 28px;
}

.select {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font: 0.9em sans-serif;
}

.close_button {
  color: darken($color: $accentColor, $amount: 2);
  background-color: rgb(216, 162, 81);
  cursor: pointer;
  border: none;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 50%;
  justify-self: left;
  justify-content: center;
  align-content: center;
  height: 50px;
  margin-left: 19rem;
  margin-top: -0.5em;
  position: absolute;
}

.selectItems{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font: 0.9em sans-serif;
}

.showItems{
    display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.01rem;
  font: 0.8em sans-serif;
  font-weight: 600;
  color: #794204d8;
  input[type="number"] {
    width: 2.5rem;
    padding: 0.5rem;
    margin: 0 5px;
    background-color: rgb(255, 255, 255);
    color: #794204d8;
    border: 1px solid #794204d8;
    border-radius: 0.5rem;
    scale: 0.8;
  }
  button{
    border: 1px solid $cancelColor;
    border-radius: 1em;
    background-color: inherit;
    color: rgb(227, 104, 104);
    margin-left: 0.1rem;
    padding: 0.3rem 0.5rem;
    scale: 0.8;

    &:hover {
      background-color: $cancelColor;
      color: white;
    }
  }
}
