:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


html{
  place-items: center;
  align-items: center;
  margin: 0;
  padding: 0px;
  /* background-image: url(./assets/4357397.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  color: #000;
  height: 100%;
  animation: rotate 6s infinite alternate linear;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif,Euclid Circular A;
}


